# vim: set ft=yaml sw=2:
stages:
  - compliance
  - lint
  - build
  - run
  - test
  - push
  - npins

include:
  - project: "helsinki-systems/gitlab-ci-templates"
    ref: "master"
    file:
      # TODO: Use go/all.yml
      - "common.yml"

default:
  tags:
    - nix
    - helsinki-hydra-builder02

variables:
  COMMIT_LOG: "1"

build:
  stage: build
  needs: []
  when: always
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $COMMAND == "renovate"'
      when: never
    - when: always
  script:
    - ./ci/build
  artifacts:
    paths:
      - ./nc4nix

run:
  stage: run
  needs: []
  when: always
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $COMMAND == "run"'
  artifacts:
    paths:
      - ./*.log
      - ./*.json
  script:
    - ./ci/run

test:
  stage: test
  needs: []
  when: always
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $COMMAND == "renovate"'
      when: never
    - when: always
  script:
    - ./ci/test

push:
  stage: push
  needs: []
  when: always
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $COMMAND == "run"'
  script:
    - ./ci/push


helsinki_npins:
  stage: npins
  needs: []
  when: always
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $COMMAND == "run"'
  trigger: helsinki-systems/helsinki
  variables:
    COMMAND: update_pin
    PIN: nc4nix
